zend_extension=xdebug

xdebug.client_host=host.docker.internal
xdebug.client_port=9003
xdebug.file_link_format=phpstorm://open?%f:%l
xdebug.idekey=PHPSTORM
xdebug.mode=coverage,debug,develop,profile

; enable autostart or read https://xdebug.org/docs/step_debug#activate_debugger
; * single debug request: send XDEBUG_TRIGGER variable (e.g. $_ENV, $_GET, $_POST)
; * multiple requests: send XDEBUG_SESSION_START=some-session-id and XDEBUG_SESSION_STOP (only $_GET, $_POST)
; xdebug.start_with_request=yes
