body {
    background-color: lightgray;
}

/* When Toasts are used, this adjusts their position and inner paddings */
/*.toasts-top-right {
    top: 20px;
    right: 20px;
}

.toast-body {
    padding: 1rem 1.5rem 1rem 1.5rem;
}*/

/* Remove background-color from nav-menu folders */
[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link
 {
    background-color: revert;
}

/* Don't use the default color for nav-links */
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link {
    color: black;
}

/* Set background-color for active nav-links */
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: #20c997;
    color: white;
}

/* Theme-styled button */
.btn-teal {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
    box-shadow: none;
}

/* Theme-styled success alert, but not as bright as teal */
.alert-success {
    background-color: #38a685;
    border-color: #246a55;
}

/* Set table column to minimum width */
td.min {
   width: 1px;
   white-space: nowrap;
}

/* Force bigger card title text to enlarge the row at least to the height of buttons */
.card-title {
    font-size: 1.7rem !important;
}

/* Adjust the position of the dropdown menu to avoid a hover gap betwen the menu and the navbar link */
.navbar-nav .dropdown-menu {
    margin-top: -3px;
}