body {
    background-color: lightgray;
}

/* When Toasts are used, this adjusts their position and inner paddings */
/*.toasts-top-right {
    top: 20px;
    right: 20px;
}

.toast-body {
    padding: 1rem 1.5rem 1rem 1.5rem;
}*/

/* Remove background-color from nav-menu folders */
[class*="sidebar-light-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-light-"] .nav-sidebar > .nav-item:hover > .nav-link {
    background-color: revert;
}

/* Set background-color for active nav-links */
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active,
[class*="sidebar-light-"] .nav-treeview > .nav-item > .nav-link.active:hover {
    background-color: #20c997;
    color: white;
}

.btn-teal {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
    box-shadow: none;
}