<a href="{{ targetUrl }}" class="btn btn-outline-secondary btn-icon-split {{ extraClasses|default('') }}">
    <span class="icon text-secondary mr-1">
        <i class="far fa-arrow-circle-left"></i>
    </span>
    <span class="text">{{ titleKey|default('app.back')|trans|u.title }}</span>
</a>