<button type="submit" class="btn btn-teal text-right {{ extraClasses|default('') }}">
    <span class="icon text mr-1">
        <i class="far fa-save"></i>
    </span>
    {{ titleKey|default('app.save')|trans|title }}
</button>