<a href="{{ targetUrl }}" class="btn btn-teal btn-icon-split {{ extraClasses|default('') }}">
    <span class="icon text mr-1">
        <i class="far fa-edit"></i>
    </span>
    <span class="text">{{ titleKey|default('app.edit')|trans|capitalize }}</span>
</a>