<a href="{{ targetUrl }}" class="btn btn-teal btn-icon-split btn-sm {{ extraClasses|default('') }}">
    <span class="icon text mr-1">
        <i class="far fa-plus-circle"></i>
    </span>
    <span class="text">{{ titleKey|default('app.new')|trans|u.title }}</span>
</a>