{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle|trans }}{% endblock %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-lg-6">
        A confirmation e-mail has been sent to your registered e-mail address.
    </div>
    <div class="col"></div>
</div>
{% endblock page_content_body %}
