{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle|trans }}{% endblock %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-lg-6">
        Your e-mail address has been confirmed. Please <a href="{{ path('user_login') }}">login</a>.
    </div>
    <div class="col"></div>
</div>
{% endblock page_content_body %}
