{% extends 'base.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-5 col-lg-4">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right mt-3">
                <button type="submit" class="btn btn-primary text-right">{{ 'app.create'|trans|title }}</button>
            </div>
        </div>
    {{ form_end(form) }}

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}
