{% extends 'base.html.twig' %}

{% block page_content_body %}
<div class="row">
    <div class="col"></div>
    <div class="col-md-5 col-lg-4">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-12">
                {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                {% if brand is defined %}
                    {% set targetUrl = path('app_supplies_brand_show', {id: brand.id}) %}
                {% else %}
                    {% set targetUrl = path('app_supplies_brand_index') %}
                {% endif %}

                {% include '_button_cancel.html.twig' with {
                    'targetUrl': targetUrl,
                } %}
            </div>
            <div class="col-6 text-right mt-3">
                {% include '_button_submit.html.twig' %}
            </div>
        </div>
    {{ form_end(form) }}

    </div>
    <div class="col-md"></div>
</div>
{% endblock page_content_body %}
